rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write to their own document
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Anyone authenticated can read missions
    match /missions/{missionId} {
      allow read: if request.auth != null;
      allow write: if false; // Disallow client-side writes
    }

    // Users can only read and write to their own progress
    match /user-progress/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Anyone authenticated can read the leaderboard
    // Users can write to their own leaderboard entry to update their score
    match /leaderboard/{userId} {
       allow read: if request.auth != null;
       allow write: if request.auth.uid == userId;
    }
  }
}
